.memes__card {
  background: rgb(143, 17, 59);
  border-radius: 20px;
  width: 100%;
}

.name__item {
  margin-left: 10%;
}

.memes__image {
  width: 40%;
  margin-left: 25%;
}

.memes__parametrs {
  font-size: 20px;
  background: rgb(242, 4, 83);
}

.memes__item {
  margin-left: 2%;
  margin-right: 2%;
}

.memes__parametr {
  margin-left: 70%;
}

.memes__item__width {
  background: rgb(82, 5, 31);
}

.memes__item__height {
  background: rgb(231, 26, 94);
}

.memes__item__box {
  background: rgb(133, 15, 54);
}

@media screen and (min-width: 768px) {
  .memes__parametrs {
    font-size: 30px;
  }

  .name__item {
    margin-left: 15%;
  }

  .memes__parametr {
    margin-left: 85%;
  }
}

@media screen and (min-width: 1024px) {
  .memes__parametrs {
    font-size: 35px;
  }

  .name__item {
    margin-left: 20%;
  }
}

@media screen and (min-width: 1440px) {
  .memes__parametrs {
    font-size: 40px;
  }

  .name__item {
    margin-left: 25%;
  }
}
