.memes_container__card {
  max-width: 50%;
}

.memes__card {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.image__itm {
  max-width: 80%;
}

.forward__icon {
  color: #fff;
  margin-left: 600px;
}

.memes__name {
  font-size: 16px;
  margin-left: 36px;
  width: 100%;
}

.box__content {
  font-size: 16px;
  margin-left: 36px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .memes__name {
    font-size: 20px;
  }

  .box__content {
    font-size: 20px;
  }
}

@media screen and (min-width: 1024px) {
  .memes__name {
    font-size: 25px;
  }

  .box__content {
    font-size: 25px;
  }
}

@media screen and (min-width: 1440px) {
  .memes__name {
    font-size: 30px;
  }

  .box__content {
    font-size: 30px;
  }
}
